.g-signin2 {
	position: absolute;
	left: 45%;
	top:50%;
}
.welcome {
	position: absolute;
	left: 15%;
	top:10%;
	text-align: center;	
	color: white;
}

body {
	background-image: url("/frontend/images/login-background.jpg");
}